<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>VimR</string>
		<key>uuid</key>
		<string>A9831D90-9574-4187-8953-90340798E5A3</string>
		<key>description</key>
		<string>Edit message in VimR (neovim)</string>
		<key>contactName</key>
		<string>Brett Terpstra</string>
		<key>contactEmailRot13</key>
		<string>zr@oergggrecfgen.pbz</string>
	</dict>
</plist>
